body {
  background-color: midnightblue;
  color: aliceblue;
  font-size: 30px;
  font-family: "Caveat", cursive;
}

*,
body,
html {
  box-sizing: border-box;
}

h2 {
  color: honeydew;
}
.main-header {
  color: honeydew;
  text-align: center;
  margin-top: 50px;
  background-color: midnightblue;
  padding: 10px;
  border: 1px solid aliceblue;
}

.sub {
  width: 50vw;
  text-align: center;
  margin: 50px auto;
  border-radius: 25px;
  
}
.sub1 {
  background-color: cornflowerblue;
  border-radius: 25px;
}

.sub2 {
  background-color: dodgerblue;
  border-radius: 25px;
}

.sub3 {
  background-color: cornflowerblue;
  border-radius: 25px;
}

.cat1 {
  width: 15vw;
}

.cat2{
  width: 15vw;
}

.cat3 {
  width: 15vw;
}

